name: Main Workflow

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
    workflow_dispatch:

jobs:
    job_1:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: notify
              run: echo "MAIN WORKFLOW EXECUTED"
              shell: bash

    job_2:
        runs-on: ubuntu-latest
        steps:
            - name: closing
              run: echo "CLOSING WORKFLOW EXECUTION"
              shell: bash
